P1{
    color: bisque;
}
body {
    font-style:bold ;
    font-size: large;
    color: #000000;
    background-color: powderblue;
}
h1{
    color:brown ;
}
h2{
    color: red;
}
a{
    color: brown;
}